@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
}
.big-text{
    margin: 0;
    text-align:center;
    font-size: 30px;
    font-weight:500;
}
label, .username, .password{
    display: block;
    margin: 8px 0;
}
.username, .password{
    box-sizing: border-box;
    height: 35px;
    padding-left: 8px;
}
.username, .password::placeholder{
    color: grey;
    font-weight: 100;
    font-family: 'Poppins', sans-serif;
}
.submit-btn, .username, .password{
    width: 100%;
}
.submit-btn{
    height: 50px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 8px;
}

@media screen and (max-width: 480px) {
    .container{
        width: 95%;
    }
}